 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-shape-1 {
  width: 1038px;
  height: 808px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -66px 29px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 611px;
  height: 614px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/Afbeelding1.jpg");
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -724px 192px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 263px;
  height: 263px;
  background-image: linear-gradient(#77aad9, #478ac9);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -141px 146px 0 auto;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 567px;
  min-height: 458px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -511px auto 60px 29px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 72px auto 0 40px;
}

.u-section-1 .u-text-2 {
  margin: 30px 40px 0;
}

.u-section-1 .u-text-3 {
  margin: 41px 3px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 614px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-1 .u-shape-1 {
    width: 427px;
    height: 612px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    width: 272px;
    height: 272px;
    margin-top: -489px;
    margin-right: -35px;
  }

  .u-section-1 .u-shape-2 {
    width: 235px;
    height: 258px;
    margin-top: -14px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 382px;
    width: 272px;
    margin-top: -598px;
    margin-left: -33px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 31px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: 31px;
    margin-left: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 770px;
}

.u-section-2 .u-list-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 321px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 368px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 91px 0 14px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 368px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 15px 65px 15px 64px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 265px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 609px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -206px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 939px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 36px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 820px;
}

.u-section-3 .u-shape-1 {
  width: 323px;
  height: 323px;
  margin: 1px auto 0 340px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 268px;
  margin: -191px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  letter-spacing: normal;
  margin: 30px 30px 0;
}

.u-section-3 .u-list-1 {
  width: 1120px;
  margin: 84px -160px -159px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 220px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 9px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 2;
  margin: 0 0 0 51px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  line-height: 2;
  margin: 0 0 0 51px;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 219px;
  margin: 149px 0 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  letter-spacing: normal;
  margin: -28px auto 1px 308px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    margin-left: 217px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-4 {
    margin-bottom: 60px;
    margin-left: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 152px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 46px;
    margin-left: auto;
    margin-bottom: -15px;
  }
} .u-section-4 {
  min-height: 1275px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 543px;
  background-image: url("images/image.png");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-4 .u-container-layout-2 {
  padding: 3px 11px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto 0 19px;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 19px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 33px auto 0 0;
  padding: 15px 65px 15px 64px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 546px;
}

.u-section-4 .u-container-layout-3 {
  padding: 29px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  margin: 0 1px;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 15px 65px 15px 64px;
}

.u-section-4 .u-image-2 {
  min-height: 525px;
  background-image: url("images/image1.png");
  background-position: 50% 50%;
  --radius: 40px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-3 {
  min-height: 563px;
  background-image: url("images/image.png");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-6 {
  padding: 3px 11px;
}

.u-section-4 .u-text-5 {
  font-size: 3.75rem;
  margin: 0 auto 0 19px;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 0 19px;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 33px auto 0 0;
  padding: 15px 65px 15px 64px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-7 {
  padding: 29px;
}

.u-section-4 .u-text-7 {
  font-size: 3.75rem;
  margin: 0 1px;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 15px 65px 15px 64px;
}

.u-section-4 .u-image-4 {
  min-height: 563px;
  background-image: url("images/Afbeelding1.jpg");
  background-position: 50% 50%;
  --radius: 40px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 879px;
  }

  .u-section-4 .u-image-1 {
    --radius: 40px;
    min-height: 448px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 673px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 450px;
  }

  .u-section-4 .u-image-2 {
    min-height: 433px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    --radius: 40px;
    min-height: 464px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 673px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 464px;
  }

  .u-section-4 .u-image-4 {
    min-height: 464px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 373px;
  }

  .u-section-4 .u-image-1 {
    min-height: 343px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 332px;
  }

  .u-section-4 .u-image-3 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 689px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-image-4 {
    min-height: 355px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1449px;
  }

  .u-section-4 .u-image-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-2 {
    order: 0;
    min-height: 498px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 533px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 437px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-7 {
    order: 1;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-4 {
    order: 0;
    min-height: 533px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 699px;
  }

  .u-section-4 .u-image-1 {
    min-height: 324px;
  }

  .u-section-4 .u-image-2 {
    min-height: 314px;
  }

  .u-section-4 .u-image-3 {
    min-height: 336px;
  }

  .u-section-4 .u-image-4 {
    min-height: 336px;
  }
}